/* UserList.css */
.object-table {
  border-collapse: collapse;
  width: 100%;
}

.object-row {
  border: 1px solid #150202;
}

.object-key {
  background-color: rgb(229, 136, 200);
  font-weight: bold;
  text-align: center;
  border: 1px solid #150202;
}

.object-value {
  border: 1px solid #150202;
  padding: 8px;
  text-align: left;
}
h1{
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #111;
  width: 25%
}
div{
  background-color: yellow;
}
